/**
 * HTL-Villach theme for reveal.js.
 */


@import "../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../node_modules/reveal.js/css/theme/template/settings";

@mixin bodyBackground() {
	$top: #000000;
	$mid1: #171731;
	$mid2: #171731;
	$bottom: #000000;
	background: $top;
	background: -moz-linear-gradient(top, $top 0%, $mid1 10%, $mid2 90%, $bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(10%, $mid1), color-stop(90%, $mid2), color-stop(100%, $bottom));
	background: -webkit-linear-gradient(top, $top 0%, $mid1 10%, $mid2 90%, $bottom 100%);
	background: -o-linear-gradient(top, $top 0%, $mid1 10%, $mid2 90%, $bottom 100%);
	background: -ms-linear-gradient(top, $top 0%, $mid1 10%, $mid2 90%, $bottom 100%);
	background: linear-gradient(top, $top 0%, $mid1 10%, $mid2 90%, $bottom 100%);
}

$linkColor: #FFE65D;
$linkColorHover: #{lighten($linkColor , 20%)};

@include light-bg-text-color(#222);

@import "../../node_modules/reveal.js/css/theme/template/theme";

/* We use a reduced font for the headers. */
.reveal h1 {
	font-size: 1em;
	margin-bottom: 1em;
}

.reveal h2 {
	font-size: 0.9em;
	margin-bottom: 1em;
}

.reveal h3 {
	font-size: 0.8em;
	margin-bottom: 1em;
}

.reveal h4 {
	font-size: 0.7em;
	margin-bottom: 1em;
}

.reveal h5 {
	font-size: 0.6em;
	margin-bottom: 1em;
}

.reveal h6  {
	font-size: 0.5em;
	margin-bottom: 1em;
}

.hljs {
	font-size: 14px;
	line-height: 1.1;
}

code {
	color: gray;
	font-size: 90%;
}